server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://terraform-20210402100357332300000001.ceqaudjowbyp.ap-southeast-1.rds.amazonaws.com:3306/country_data
    driverClassName: com.mysql.cj.jdbc.Driver
    username: admin
    password: ${PWD}
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect